@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Didact+Gothic&family=IBM+Plex+Mono:wght@400;700&display=swap");

.App {
  max-width: 80%;
  margin: 3em auto; /*set this to 2em in small view*/
  overflow: auto;
  min-height: 85vh;
  border: 1px solid #66717e;
  border-radius: 1px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: "Didact Gothic", sans-serif;
  background: url("../background/bck12.jpg") no-repeat center center fixed;
  background-size: cover;
}

.app-div {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  width: 100%;
  height: 85vh;
}

.char {
  color: #ccff00;
}

.app-footer {
  margin-top: 0;
  max-height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5px 0;
  width: 100%;
  background: rgba(102, 113, 126, 0.9);
  border-top: 0.05px solid black;
}

.footer-link {
  transition: all 0.25s ease-in-out;
  color: rgba(238, 241, 239, 0.9);
  text-decoration: none !important;
}

.footer-link:hover {
  text-shadow: -0.6px 0.6px 1px black, 0.6px 0.6px 1px black,
    0.6px 0.6px 1px black, 0.6px -0.6px 1px black;

  transform: scale(1.1);
}

.navbar {
  display: flex;
  margin-top: 0;
  max-height: 5%;
  width: 100%;
  background: rgba(102, 113, 126, 0.5);
}

.nav-text {
  font-family: "IBM Plex Mono", monospace;
  transition: all 0.25s ease-in-out;
  color: rgba(238, 241, 239, 0.9);
  text-decoration: none !important;
  font-size: 1.2em;
  margin: auto;
  font-weight: 700;
  text-shadow: -0.6px 0 black, 0 0.6px black, 0.6px 0 black, 0 -0.6px black;
}

.nav-text:hover {
  text-shadow: -0.6px 0.6px 2px black, 0.6px 0.6px 2px black,
    0.6px 0.6px 2px black, 0.6px -0.6px 2px black;
  transform: scale(1.1);
  color: #ccff00;
}
